1.

甲方出现以下情形的，乙方有权在书面通知甲方后，单方面解除本合同，甲方应向乙方支付合同金额的20％作为违约金，违约金低于乙方实际损失的，甲方还应补偿不足的部分：

（

1

）甲方未按本合同约定付款时间付款，经乙方催告仍不付款超过

5

日的；



（

2

）甲方违反本合同第五条之规定，侵害乙方知识产权的。



2.

因乙方原因未能按本合同约定的时间交付本软件

,

经甲方催告后在

5

日内仍未能交付的，甲方有权

在书面通知乙方后，

单方面解除本合同，

乙方应退还甲方支付的全部款项并向甲方支付合同金额的

20

％作

为违约金，违约金低于甲方实际损失的，乙方还应补偿不足的部分。



3.

本合同生效后，任何一方不得单方面解除合同（本合同约定的情形除外）。